@charset "UTF-8";
/*css 註解*/
.btn-error {
  padding: 10px 30px;
  text-align: center;
  display: inline;
  background-color: #EF4444;
  color: #FFFFFF;
}
.btn-error:hover {
  background-color: rgb(234.9802955665, 21.0197044335, 21.0197044335);
}
.btn-error {
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.btn-default {
  padding: 10px 30px;
  text-align: center;
  display: inline;
  border: 2px solid #4B4EFC;
  color: #4B4EFC;
}
.btn-default:hover {
  background-color: rgb(24.8360655738, 28.6721311475, 251.1639344262);
  color: #FFFFFF;
}
.btn-default {
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.btn-secondary {
  padding: 10px 30px;
  text-align: center;
  display: inline;
  background-color: #FC4BDC;
  color: #FFFFFF;
}
.btn-secondary:hover {
  background-color: rgb(251.1639344262, 24.8360655738, 210.2459016393);
}
.btn-secondary {
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.btn-success {
  padding: 10px 30px;
  text-align: center;
  display: inline;
  background-color: #22C55E;
  color: #FFFFFF;
}
.btn-success:hover {
  background-color: rgb(26.4935064935, 153.5064935065, 73.2467532468);
}
.btn-success {
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.push-left-1 {
  position: relative;
  left: 1px;
}

.push-top-1 {
  position: relative;
  top: 1px;
}

.push-left-2 {
  position: relative;
  left: 2px;
}

.push-top-2 {
  position: relative;
  top: 2px;
}

.push-left-3 {
  position: relative;
  left: 3px;
}

.push-top-3 {
  position: relative;
  top: 3px;
}

.push-left-4 {
  position: relative;
  left: 4px;
}

.push-top-4 {
  position: relative;
  top: 4px;
}

.push-left-5 {
  position: relative;
  left: 5px;
}

.push-top-5 {
  position: relative;
  top: 5px;
}

.push-left-6 {
  position: relative;
  left: 6px;
}

.push-top-6 {
  position: relative;
  top: 6px;
}

.push-left-7 {
  position: relative;
  left: 7px;
}

.push-top-7 {
  position: relative;
  top: 7px;
}

.push-left-8 {
  position: relative;
  left: 8px;
}

.push-top-8 {
  position: relative;
  top: 8px;
}

.push-left-9 {
  position: relative;
  left: 9px;
}

.push-top-9 {
  position: relative;
  top: 9px;
}

.push-left-10 {
  position: relative;
  left: 10px;
}

.push-top-10 {
  position: relative;
  top: 10px;
}

.bg-full-1 {
  background-image: url("./assets/img/full-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
}

.bg-full-2 {
  background-image: url("./assets/img/full-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
}

.bg-full-3 {
  background-image: url("./assets/img/full-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
}

.bg-full-4 {
  background-image: url("./assets/img/full-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
}

header {
  margin: 0 auto 0;
  width: 100%;
  max-width: 1366px;
  background-color: #f5fec5;
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 30px;
    color: #4800ff;
  }
}

section {
  width: 100%;
  background-color: #facece;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: #999;
}
@media screen and (max-width: 996px) {
  h1 {
    font-weight: bold;
    font-size: 80px;
    color: #999;
    color: #ff0000;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-weight: bold;
    font-size: 100px;
    color: #999;
    color: #000;
  }
}

h2 {
  font-weight: bold;
  font-size: 40px;
  color: #999;
}

.a {
  width: 20em;
  height: -10px;
  margin: 100px;
  font: 5px;
}

.rect-50 {
  background-color: #F9FAFB;
  width: 100%;
  height: 100px;
}

.rect-100 {
  background-color: #F3F4F6;
  width: 100%;
  height: 100px;
}

.rect-200 {
  background-color: #E5E7EB;
  width: 100%;
  height: 100px;
}

.rect-300 {
  background-color: #D1D5DB;
  width: 100%;
  height: 100px;
}

.rect-400 {
  background-color: #9CA3AF;
  width: 100%;
  height: 100px;
}

.rect-500 {
  background-color: #6B7280;
  width: 100%;
  height: 100px;
}

.rect-600 {
  background-color: #4B5563;
  width: 100%;
  height: 100px;
}

.rect-700 {
  background-color: #374151;
  width: 100%;
  height: 100px;
}

.rect-800 {
  background-color: #1F2937;
  width: 100%;
  height: 100px;
}

.rect-900 {
  background-color: #111827;
  width: 100%;
  height: 100px;
}

h1 {
  font-size: 56px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*# sourceMappingURL=style.css.map */
