// font mixin
@use 'var' as * ;
@use 'sass:color';

@mixin basicfontsize {
    font-size: 16px;
    font-weight: 900;
    color: #333;
}

@mixin boldfont($var) {
    font-weight: bold;
    font-size: $var;
    color: #999;
}

//  layout
@mixin center($w , $top , $border: null) {
    margin: $top auto 0;
    width: $w;
    border: $border
}


// btn 
// =================================================
//  使用方式 @include btn(background-color , font color , Outline button)
//==================================================
@mixin btn($bgc , $color , $outline: false) {
    padding: 10px 30px;
    text-align: center;
    display: inline;

    @if $outline {
        border: 2px solid $bgc;
        color: $bgc;

        &:hover {
            background-color: darken($bgc , 10);
            color: $color;
        }
    }

    @else {
        background-color: $bgc;
        color: $color;

        &:hover {
            background-color: darken($bgc , 10);
        }
    }

    border-radius: 4px;
    cursor: pointer;
    transition: .3s all ease;

}




@mixin layout($w) {


    @if $w ==100 {
        width: 100%;
    }

    @else if $w < 100 {
        width: $w * 1%;
        margin: auto;
    }

    @else {
        @include center(100%, 0);
        max-width: $w;

    }
}


@mixin m {
    @media screen and (max-width : $m) {
        // content  手機
        @content;
    }
}

@mixin t {
    @media screen and (max-width : $t) {
        // content 桌機
        @content; 
    }
}