// var 宣告
$fontSizeBasic : 16px;
$mainTitle : 40px; // 數值
$fontcolor : #333; // color 
$center : 10px auto; // list
$btnColor : (key : val,
    primary : #0048ff,
    secondary : #ff7700,
    error : red,
); // map


//斷點

 $m : 768px;
 $t : 996px;



 $font : (
 h1 : 56px,
 h2 : 48px,
 h3 : 36px,
 h4 : 28px,
 span : 12px,
 div : 18px,
 '.bold'  : 20px 
);