// font mixin

@mixin basicfontsize {
    font-size: 16px;
    font-weight: 900;
    color: #333;
}

@mixin boldfont($var) {
    font-weight: bold;
    font-size: $var;
    color: #999;
}

//  layout
@mixin center($w , $top , $border:null) {
    margin: $top auto 0;
    width: $w;
    border: $border
}


// btn 
// =================================================
//  使用方式 @include btn(background-color , font color , Outline button)
//==================================================
@mixin btn($bgc , $color , $outline: false) {
    padding: 10px 30px;
    text-align: center;
    display: inline;

    @if $outline {
        border: 2px solid $bgc;
        color: $bgc;

        &:hover {
            background-color: darken($bgc , 10);
            color: $color;
        }
    }

    @else {
        background-color: $bgc;
        color: $color;

        &:hover {
            background-color: darken($bgc , 10);
        }
    }

    border-radius: 4px;
    cursor: pointer;
    transition: .3s all ease;

}

.btn-error {
    @include btn(#ff0000, #ffffff);
}

.btn-default {
    @include btn(#003cff, #fff, true)
}

.btn-secondary {
    @include btn(#8cff00, #fcfcfc);

}
.btn-success {
    @include btn(#ffb700, #fcfcfc);
}


@mixin layout($w){
   .wrapper {
     @if $w == 100 {
      width: 100%;
     }@else if $w < 100 {
        width: $w * 1%;
        margin: auto; 
     }
     @else {
       @include center($w , 0)
     }
   }
}



@include layout(1366px);








.box1 {
    @include center(300px, 10px, #ff1f1f);
}


.box2 {
    @include center(400px, 20px, #ffc904)
}

h1 {
    @include boldfont(50px);
}

h2 {
    @include boldfont(40px);
}

// mixin

a {
    @include basicfontsize
}

div {
    @include basicfontsize
}