// var 宣告
$fontSizeBasic : 16px;
$mainTitle : 40px; // 數值
$fontcolor : #333; // color 
$center : 10px auto; // list
$btnColor : (key : val,
    primary : blue,
    secondary : yellow,
    error : red,
); // map
