$space : 20px;
$bgc : #15803D;
$color : #333;
$border : 1px solid #333;
$boderR : 5px; 
$fontSizeBasic: 20px;


.btn {
 padding: $space  $space * 3;
 background-color: $bgc;
 color : $color; 
 text-align: center;
 border: 1px solid $color;
 border-radius: 5px;
 font-size: $fontSizeBasic;
}