/*css 註解*/
// sass 註解 


// var 宣告
$fontSizeBasic : 16px;
$mainTitle : 40px; // 數值
$fontcolor : #333;// color 
$center : 10px auto; // list
$btnColor : (
 key : val,
 primary : blue,
 secondary : yellow,
 error : red, 
); // map




body {
 margin: 0;
 padding: 0;
 font-size: $fontSizeBasic;
 color: $fontcolor;
 background-color: rgb(156, 231, 224);
}

.btn {
 background-color: map-get($btnColor, secondary);

}

h1 {
  font-size: $mainTitle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


$w : null;

.wrapper {
  @if $w {
     width: $w;
     margin: $center;
  }@else {
     width: 100%;
  } 
} 


// span {
//    color : #333; //可以給null值
//    font-size: 20px;
// }


// 全域變數跟區域變數的設定
$scope-a : 30px;

.scope {
   $scope-b : 20px !global; //提升為全域變數
   font-size: $scope-b;
}


.scope-inner {
  font-size: $scope-b;
}





