/*css 註解*/
// sass 註解 

@use 'var';
@use 'mixin';
// @import 'var';



body {
   font-size: var.$fontSizeBasic;
}

h1 {
 font-size: var.$fontSizeBasic * 5;
}

span {
  font-size: var.$fontSizeBasic;
}









